---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% include base_path %}

<!-- Check for publication categories -->
{% assign categories = "Peer-Reviewed Articles,Working Papers" | split: ',' %}
{% for category in categories %}
  {% assign title_shown = false %}
  {% for post in site.publications reversed %}
    {% if post.category != category %}
      {% continue %}
    {% endif %}
    {% unless title_shown %}
      <h2>{{ category }}</h2>
      <hr />
      {% assign title_shown = true %}
    {% endunless %}
    <div>
      <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
      {% if post.authors and post.journal %}
        <p>{{ post.authors }}. <em>{{ post.journal }}</em> (2024).</p>
      {% elsif post.authors %}
        <p>{{ post.authors }}.</p>
      {% elsif post.journal %}
        <p><em>{{ post.journal }}</em> (2024).</p>
      {% endif %}
      {% if post.paperurl %}
        <p><a href="{{ post.paperurl }}">Read the Paper</a></p>
      {% endif %}
      <hr />
    </div>
  {% endfor %}
  {% unless title_shown %}
    <p>No entries in this category yet.</p>
  {% endunless %}
{% endfor %}

{% if site.author.googlescholar %}
  <div class="wordwrap">
    You can also find my articles on 
    <a href="{{ site.author.googlescholar }}">my Google Scholar profile</a>.
  </div>
{% endif %}
