---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<!-- Define the teaching categories -->
{% assign categories = "OSU,UIUC,HKUST,HKU" | split: ',' %}
{% for category in categories %}
  <h2>{{ category }}</h2>
  <hr />
  
  <!-- Loop through the posts and display each course with its year and semester -->
  {% for post in site.teaching reversed %}
    {% if post.category == category %}
      <div>
        <p><strong>{{ post.title }}</strong> - <em>{{ post.date | date: "%Y" }} {{ post.semester }}</em></p>
      </div>
    {% endif %}
  {% endfor %}

  {% unless site.teaching.size > 0 %}
    <p>No courses listed for this category yet.</p>
  {% endunless %}
{% endfor %}
