---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<!-- Define the teaching categories with full names -->
{% assign category_names = "The Ohio State University, The University of Illinois Urbana-Champaign (TA),The Hong Kong University of Science and Technology (IA),The University of Hong Kong (TA)" | split: ',' %}
{% assign categories = "OSU,UIUC,HKUST,HKU" | split: ',' %}
{% for i in (0..categories.size-1) %}
  <h2>{{ category_names[i] }}</h2>
  <hr />
  
  <!-- Loop through the posts and display each course with its year and semester -->
  {% for post in site.teaching reversed %}
    {% if post.category == categories[i] %}
      <div>
        <p>{{ post.title }} - <em>{{ post.date | date: "%Y" }} {{ post.semester }}</em></p>
      </div>
    {% endif %}
  {% endfor %}

  {% unless site.teaching.size > 0 %}
    <p>No courses listed for this category yet.</p>
  {% endunless %}
{% endfor %}
